body {
    background-color: #EBF2F2;
}

h1,
h2,
h3 {
    color: #095D6A;
}

.btn-link {
    color: #fff;
    text-decoration: none;
}

.btn-link:hover {
    color: #EBF2F2;
}

footer,
h4 {
    color: #fff;
    padding-bottom: 0;
    background-color: #095D6A;
}

.foot {
    padding: 10px;
}

article {
    min-height: 80vh;
}

.hero {
    background-image: url('../src/intro-img2.jpg');
    background-position: 100% 100%;
    border-radius: 5px;
    opacity: 0.8;
    min-height: 300px;
    color: #fff;
}